#stocks {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
}

#stocks thead tr {
  background-color: #2f77d0;
  color: #ffffff;
  text-align: left;
}

#stocks th,
#stocks td {
  padding: 12px 15px;
}

#stocks tbody tr {
  border-bottom: 1px solid #dddddd;
}

#stocks tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* #stocks tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
} */

#stocks tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}